:root {
    --color-light: #FFFFFF;
    --bg-color: #E2E8F0;
    --primary-color: #1992D4;
    --text-color: #000000;
    --text-light: #6B6B6B;
    --highlight-color: #F0B429;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: var(--text-color);
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

.main {
    display: grid;
    position: relative;
    grid-template: 1fr 6fr / 1fr 4fr;
}

.sidebar {
    background-color: var(--primary-color);
    color: var(--color-light);
    grid-row: span 2;
    position: absolute;
    display: none;
    z-index: 999;
}

.logo {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-content: center;
    margin-top: 24px;
    margin-bottom: 84px;
}

.icon--dashboard {
      font-variation-settings:
      'FILL' 1,
      'wght' 400,
      'GRAD' 0,
      'opsz' 80;
      font-size: 64px;
      line-height: 76px;
}

.menu {
    display: grid;
    justify-content: center;
    gap: 24px;
    padding: 16px 32px;
}

.menu_link {
    color:var(--color-light);
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
}

.menu_link:nth-child(7) {
    margin-top: 84px;
}

.icon--menu {
    margin-right: 24px;
    font-size: 26px;
    font-variation-settings:
    'FILL' 1,
    'wght' 600,
    'GRAD' 0,
    'opsz' 80;
}

header {
    background-color: var(--color-light);
    padding: 16px 32px;
    grid-column: span 2;
    display: grid;
    -webkit-box-shadow: 5px 5px 16px -9px rgba(62, 57, 57, 1);
    -moz-box-shadow: 5px 5px 16px -9px rgba(62, 57, 57, 1);
    box-shadow: 5px 5px 16px -9px rgba(62, 57, 57, 1);
    z-index: 2;
}

.header_top {
    display: grid;
}

.header_bottom {
    display: grid;
    grid-template-columns: 80px 1fr;
    align-items: center;
    gap: 24px;
}

.header_nav {
    grid-column: span 2;
    display: grid;
    grid-auto-flow: column;
    gap: 12px;
}

.search {
    display: grid;
    grid-template-columns: 40px 5fr;
    gap: 16px;
    align-items: center;
}

.search_bar {
    border: none;
    background-color: var(--bg-color);
    border-radius: 25px;
    padding: 16px 24px;
}

.user_info {
    display: none;
}

.profile {
    border-radius: 50%;
}

.profile--small {
    width: 60px;
    height: 60px;
}

.profile--big {
    width: 80px;
    height: 80px;
}

.greeting span {
    font-weight: 600;
    font-size: 14px;
}

.username {
    font-weight: 700;
}

.username--small {
    display: grid;
    justify-self: start;
    font-size: 18px;
}

.username--big {
    font-size: 20px;
    margin: 0;
}

.content {
    background-color: var(--bg-color);
    padding: 16px 32px;
    grid-column: span 2;
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 36px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 24px;
}

.card {
    background-color: var(--color-light);
    padding: 24px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-content: start;
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 16px -9px rgba(62, 57, 57, 1);
    -moz-box-shadow: 5px 5px 16px -9px rgba(62, 57, 57, 1);
    box-shadow: 5px 5px 16px -9px rgba(62, 57, 57, 1);
}

.card--highlighted {
    border-left: 6px var(--highlight-color) solid;
}

.card_nav {
    place-self: end;
}

.card_title {
    margin: 0;
    font-size: 16px;
}

.card_text {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-light);
}

.btn {
    font-size: 18px;
    font-weight: 600;
    padding: 8px 24px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

.btn--primary {
    color: var(--color-light);
    background-color: var(--primary-color);
}

.btn--icon {
    height: 40px;
    width: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.headline {
    font-size: 22px;
    font-weight: 600;
}

@media screen and (min-width: 576px) {

}

@media screen and (min-width: 768px) {
    .sidebar {  
        display: block;
        position: static;
    }
    header {
        grid-column: 2 / 3;
    }
    .content {
        grid-column: 2 / 3;
    }
}

@media screen and (min-width: 992px) {
    .username--big {
        font-size: 26px;
    }
    .header_top {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-auto-flow: column;
        gap: 84px;
    }
    .header_bottom {
        grid-template-columns: 80px 4fr 2fr;
    }
    .header_nav {
        grid-column: 3/4;
        justify-content: end;
    }
    .user_info {
        display: grid;
        grid-template-columns: 40px 60px 1fr;
        gap: 18px;
        place-items: center;
        justify-self: end;
    }

}

@media screen and (min-width: 1200px) {

}